<div class="black column">

	<h1> RELATED ARTICLES </h1>
	
	<hr>
	<br>
	<h2>ALEX HUNTER HAS MADE HIS MARK</h2>
	<p>
		Just one month into his journey, Alex Hunter has already made an impact with fans worldwide
	<p>
	<br>
	<u><a href="/pages/huntersmark.html"> Read more </a></u>
	<hr>

	<br>
	<h2>10 REASONS TO TRY FIFA 17</h2>
	<p>
		Are you ready? EA SPORTS™ FIFA 17 is HERE! These are 10 reasons to try FIFA 17 on Xbox One, PS4, and PC.
	<p>
	<br>
	<u><a href="/pages/reasonsfifa.html"> Read more </a></u>
	<hr>

	<br>
	<h2> FIFA 17 TITLE UPDATE 1 </h2>
	<p>
		The first title update for FIFA 17 is available this week on PC, PlayStation 4 and Xbox One.
	<p>
	<br>
	<u><a href="/pages/update.html"> Read more </a></u>
	<hr>

	<br>
	<h2> MAKING EA SPORTS™ FIFA 17 THE JOURNEY </h2>
	<p>
		Go behind the scenes of a new mode in FIFA 17 The Journey, powered by Frostbite™. Available on PC, PS4 and Xbox One.
	<p>
	<br>
	<u><a href="journey.html"> Read more </a></u>
	<hr>

</div>