          <div class="black column">
            <h1> FORM IS TEMPORARY, CLASS IS PERMANENT </h1>
            <hr>
            <p>
             A strong individual weekend result is only the beginning. Consistent Weekend League performances help you move up the Monthly Leaderboard tiers, unlocking some of the best in-game rewards in all of FUT. Play well enough and you may earn special FUT Champions items to help you show off on the pitch.
            </p>

            <img src="/assets/images/compete/champs.png">
            <hr>
            <i class="ui huge trophy icon"></i><i class="ui huge trophy icon"></i><i class="ui huge trophy icon"></i></i>
        </div>

        <div class="grey column">    
            <h1>COMPETE ON THE BIGGEST STAGE</h1>
            <hr>
            <p>
              For the best of the best, FUT Champions may be your ticket to real world competitions and prizes, with the Regional Monthly Leaderboards on Xbox One and PlayStation 4 feeding the EA SPORTS™ FIFA 17 Ultimate Team™ Championship Series and the FIFA Interactive World Cup. Do you have what it takes to climb the ranks and qualify for the biggest competitions in EA SPORTS™ FIFA history?**
              <hr>
              <i class="ui huge trophy icon"></i><i class="ui huge trophy icon"></i><i class="ui huge trophy icon"></i>
            </p>
        </div>