        <div class="black column">
            <h3> COMPETE FOR GLORY </h3>
            <h1> WELCOME TO FUT CHAMPIONS </h1>
            <hr>

            <img src="/assets/images/compete/leaderboards.png">
       
            <h3> QUALIFY, RANK UP, GET REWARDED, REPEAT. </h3>
            <h1> THE ULTIMATE WAY TO COMPETE </h1>
            <hr>
            <p>
             FUT Champions is the all-new way to compete in FIFA 17 on the Xbox One, PlayStation 4, and PC. Each week, qualify for the Weekend League and compete for in-game rewards. Consistently showcase your skill and climb the Monthly Leaderboards to earn in-game rewards and the opportunity to take your game to the world stage.*
            </p>
            <hr>
            <i class="ui huge trophy icon"></i><i class="ui huge trophy icon"></i><i class="ui huge trophy icon"></i>
        </div>

        <div class="grey column">   
            <h1>QUALIFY FOR THE WEEKEND LEAGUE</h1>
            <hr>
            <p>
              Online FIFA Ultimate Team Tournaments are now part of FUT Champions. Winning a Daily Knockout tournament will earn you rewards and a spot in the Weekend League. Dynamic squad entry requirements and unique rewards keep the Daily Knockouts fresh.
            </p> 

            <p>
            Already at the top of the pyramid in FUT Online Seasons? Weekly success at the highest levels will give automatic access to the coveted Weekend League.
            </p>

            <img src="/assets/images/compete/panel.png">
            <hr>
            <i class="ui huge trophy icon"></i><i class="ui huge trophy icon"></i><i class="ui huge trophy icon"></i>

        </div>