    <div class="black column">
    
      <h3> A PREMIER LEAGUE PROSPECT </h3>
      <h1> INTRODUCING ALEX HUNTER </h1>
      <img src="/assets/images/features/hunter.png">
      <hr>
      <p>
       A touted prospect, Alex Hunter is on a journey to make his mark in the Premier League. Emerging as one of the best young prospects in the academy, the expectations are high and the opportunity is there for Alex to perform on the world's biggest stage. Will you deliver?
       <hr>
       <i class="ui huge tasks icon"></i>
      </p>
    </div>

    <div class="grey column">
       
      <h4> UNIQUE STORIES </h4>
      <h1> YOUR PERFORMANCE. YOUR DECISIONS. YOUR UNIQUE STORY.</h1>
      <img src="/assets/images/features/locker.png">
      <hr>
      <p>
       In The Journey, Alex Hunter’s Premier League career is impacted by your performance on the pitch, and the decisions you make off of it. Make critical decisions throughout the game that will change what happens next and how other characters react to you. Will you put your team first before your own success? The choice is yours.
       <hr>
      <i class="ui huge tasks icon"></i>
      </p>
    </div>