    <div class="black column">
      
      <h1> Powered by Frostbite </h1>
        
      <img class="ui big image" src="/assets/images/features/fifafrostbite.png">
      <hr>
      <p>
       Frostbite is a game engine developed by EA Dice, the studio behind the graphically impressive Battlefield series of first-person shooters. It’s the technology used to build many of EA’s recent and forthcoming releases including Battlefield 1, Mirror’s Edge: Catalyst and Mass Effect: Andromeda – and now it’s powering Fifa.
      </p>

      <p>
       One of the industry’s leading game engines, Frostbite delivers authentic, true-to-life action, takes players to new football worlds, and introduces fans to characters full of depth and emotion in FIFA 17 for the Xbox One, PlayStation 4 and PC.
       <hr>
       <i class="ui huge tasks icon"></i>
      </p> 
    </div>

    <div class="grey column">
       
      <h3> LIVE YOUR STORY </h3>
      <h1>EXPERIENCE LIFE IN THE PREMIER LEAGUE</h1>
      <img src="/assets/images/features/journey.png">
      <hr>
      <p>
       For the first time ever in FIFA, live your story on and off the pitch as the Premier League’s next rising star, Alex Hunter. Play on any club in the Premier League, for authentic managers and alongside some of the best players on the planet. Experience brand new worlds in FIFA 17, all while navigating your way through the emotional highs and lows of The Journey.
       <hr>
       <i class="ui huge tasks icon"></i>
      </p>
    </div>