<section class="ui aligned grid segment contained">
	<section class="ui centered black three column grid">
		<div class="row">
			<footer class="ui center aligned segment">
				  <a href="https://www.facebook.com/easportsfifa/photos/pb.191027189287.-2207520000.1481154364./10154727564654288/?type=3&theater"> <i class="large black facebook icon"></i> </a>
				  <a href="https://twitter.com/easportsfifa"> <i class="large black twitter icon"></i> </a>
				  <a href="https://www.instagram.com/easportsfifa/"> <i class="large black instagram icon"></i> </a> 
				  <a href="https://www.youtube.com/easportsfifa"> <i class="large black youtube icon"></i> </a> 
			</footer>
		</div>
	</section>
</section>
		


