<section class="ui stackable center aligned grid segment">
  <section class="ui black two column grid">
        <div class="row">
        
        <div class="black column">
          <h1>
          <img class="image-fifalogo" src="/assets/images/home/easports.png" alt="FIFA 17">
          </h1>
        </div>

        <div class="black column">
          <h1>  YOUR JOURNEY AWAITS </h1>
          <h3> TAKE CONTROL OF THE GAME.</h3> 
        </div>             
  </section>
</section>
      

