<section class="ui center aligned grid segment">
     <section class="ui three column grid">
         <div class="row">

          <div class="black column">
           <img src="/assets/images/home/set.png">
           <hr>
           <h1> TAKE EVERY OPPORTUNITY</h1>
           <h2> SET PIECE REWRITE </h2>
           <hr>
           <h4> From free kicks to penalties to corner kicks, inject personality and experience control from every  dead ball situation. </h3>
          </div>

          <div class="grey column">
           <img src="/assets/images/home/win.png">
           <hr>
           <h1> WIN THE BALL</h1>
           <h2> PHYSICAL PLAY OVERHAUL</h2>
           <hr>
           <h4> A transformation in the way players physically interact in all areas of the pitch. Control is now in your hands as you battle for space and possession.</h3>
          </div>

          <div class="black column">
           <img src="/assets/images/home/attack.png">
           <hr>
           <h1> PLAY UP</h1>
           <h2> NEW ATTACKING TECHNIQUE</h2>
           <hr>
           <h4> New options in attack give players more ways to create chances and finish in front of goal.</h3>
          </div>
     </section>               
</section>