<div class="ui inverted segment">
  <div class="ui inverted relaxed divided list">
      <div class="item">
        <div class="content">
        <div class="header"><i class="yellow chevron right icon"></i>Vegalta Sendai</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header"><i class="yellow chevron right icon"></i>Kashima Antlers</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header"><i class="yellow chevron right icon"></i>Urawa Reds</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header"><i class="yellow chevron right icon"></i>Omiya Ardija</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header"><i class="yellow chevron right icon"></i>Kashiwa ReysolFC</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header"><i class="yellow chevron right icon"></i>FC Tokyo</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header"><i class="yellow chevron right icon"></i>Kawasaki Frontale</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header"><i class="yellow chevron right icon"></i>Yokohama F. Marinos</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header"><i class="yellow chevron right icon"></i>Shonan Bellmare</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header"><i class="yellow chevron right icon"></i>Ventforet Kofu</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header"><i class="yellow chevron right icon"></i>Albirex Niigata</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header"><i class="yellow chevron right icon"></i>Júbilo Iwata</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header"><i class="yellow chevron right icon"></i>Nagoya Grampus</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header"><i class="yellow chevron right icon"></i>Gamba Osaka</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header"><i class="yellow chevron right icon"></i>Ventforet Kofu</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header"><i class="yellow chevron right icon"></i>Vissel Kobe</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header"><i class="yellow chevron right icon"></i>Sanfrecce Hiroshima</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header"><i class="yellow chevron right icon"></i>Avispa Fukuoka </div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header"><i class="yellow chevron right icon"></i>Sagan Tosu</div>
      </div>
    </div>
  </div>
</div>