<div class="black column">

	   <img class="ui centered image" src="/assets/images/journey/action2.png">

	 <p> 	
	 <br>
	 	The emotional highs and lows experienced by Alex are highlighted by an an original score composed especially for The Journey by Oscar and Grammy award-winning composer Atticus Ross. Amplified by Ross' arrangement, The Journey's soundtrack will pull you through Hunter's story and invest you in his attempts to progress through the game. 
	 </p>

	 <br>
	 <h1> Player Inputs <i class="medium spinner icon"></i></h1> 
	 <hr>
	 <img class="ui centered image" src="/assets/images/journey/harry.png">

	 <p>
	 <br>
	 	Input from real players including Harry Kane and Anthony Martial helped ground Alex Hunter's journey in reality, giving you an authentic experience of the types of challenges a professional footballer will face as they strive to get to the top of the game.
	 </p>

</div>