<div class="black column">

	<h1> MAKING EA SPORTS™ FIFA 17 THE JOURNEY <i class="medium spinner icon"></i></h1>
	<hr>
	<h4> POSTED SEPTEMBER 13TH AT 1:00PM. </h4>

	   <img class="ui centered image" src="/assets/images/journey/huntersjourney.png">
	   <hr>

	<p>
	<br>
		More than two years in the making, FIFA 17 The Journey is an all-new and innovative addition to the franchise. The Journey lets you live the story of the Premier League's next rising star, Alex Hunter, where every decision, every action, every moment impacts your attempt to rise to the highest level of the game.
	</p>

	<p> 
		Take a look behind the scenes as we brought Alex's story to life with the help of some of those who know just what it takes to get to the top.
	</p>
	<br>

</div>
