<div class="ui stackable inverted segment">
  <div class="ui inverted secondary pointing menu">  
    <a class="item"<a href="/index.html"> Home </a>
    <a class="item"<a href="/pages/features.html"> Features </a>
    <a class="item"<a href="/pages/compete.html"> Compete </a>
    <a class="item"<a href="/pages/proclubs.html"> Pro Clubs </a>
    <a class="item"<a href="/pages/ultimate.html"> Ultimate Team </a>
    <a class="item"<a href="/pages/news.html"> News </a>
    <a class="item"<a href="/pages/articles.html"> Articles </a>
    <a class="item"<a href="/pages/insider.html"> Insider </a>    
  </div>
</div>
 
  


