<div class="ui relaxed divided list">
  <div class="item">
    <i class="large music middle aligned icon"></i>
    <div class="content">
      <a class="header">Balkan Beat Box - I Trusted U</a>
      <div class="description"><a href="https://www.youtube.com/watch?v=IUwM5d3qvUY">- Official Track</a></div>
    </div>
  </div>

  <div class="item">
    <i class="large music middle aligned icon"></i>
    <div class="content">
      <a class="header">Bastille - Send Them Off!</a>
      <div class="description"><a href="https://www.youtube.com/watch?v=vn-6fiVkAcA">- Official Track</a></div>
    </div>
  </div>

  <div class="item">
    <i class="large music middle aligned icon"></i>
    <div class="content">
      <a class="header">Paper Route - Chariots</a>
      <div class="description"><a href="https://www.youtube.com/watch?v=ZdwFGmEijKQ">- Official Track</a></div>
    </div>
  </div>

  <div class="item">
    <i class="large music middle aligned icon"></i>
    <div class="content">
      <a class="header">Kygo - Raging feat. Kodaline </a>
      <div class="description"><a href="https://www.youtube.com/watch?v=ZhzN7-Q00KU">- Official Track</a></div>
    </div>
  </div>

  <div class="item">
    <i class="large music middle aligned icon"></i>
    <div class="content">
      <a class="header">Zedd and Grey - Adrenaline</a>
      <div class="description"><a href="https://www.youtube.com/watch?v=hbMk7_c6nAE">- Official Track</a></div>
    </div>
  </div>

  <div class="item">
    <i class="large music middle aligned icon"></i>
    <div class="content">
      <a class="header">Oliver - Electrify feat. Scott Mellis</a>
      <div class="description"><a href="https://www.youtube.com/watch?v=9wzcBCPLGv0">- Official Track</a></div>
    </div>
  </div>

  <div class="item">
    <i class="large music middle aligned icon"></i>
    <div class="content">
      <a class="header">KAMAU - Jusfayu (feat. No Wyld)</a>
      <div class="description"><a href="https://www.youtube.com/watch?v=Mz5iPSi3-mo">- Official Track</a></div>
    </div>
  </div>
</div>