<div class="black column">

  <img src="/assets/images/news/premier.png">
    <h1> PREMIER LEAGUE ANNOUNCEMENT </h1>
  <hr>

  <p>
    The Premier League and EA SPORTS™ are expanding their long-standing partnership, with the videogame company becoming the League’s Lead Partner for the three seasons 2016/17 through 2018/19.
  </p>

  <p>
    Being Lead Partner of the Premier League means that EA SPORTS – already recognised as a global leader in sports entertainment – will have a deeper partnership and integration with the Premier League throughout the coming seasons.
  </p>

  <p>
    The expanded partnership includes on-screen branding on all the League’s global broadcasts, sponsorship of the official Player of the Month and Season Awards, EA SPORTS integration in stadia pre-match, and continued sponsorship of Fantasy Premier League – the online game which is played by millions of fans and available via <a href="https://www.premierleague.com/">www.premierleague.com</a>
  </p>

  <p>
    EA SPORTS exciting new position sits alongside other global brands as part of the League’s new sponsorship strategy following the move away from title sponsorship.
  </p>

  <p>
    EA SPORTS also holds the Premier League’s exclusive Electronic Game Licence, which enables EA SPORTS to deliver the most authentic gaming experience possible for fans engaging with Premier League clubs and players within EA SPORTS FIFA games around the world and on multiple platforms.
  </p>

    <img src="/assets/images/news/alex.png">
    <h1> ALEX HUNTER TO BECOME FLUENT IN 5 NEW LANGUAGES </h1>
  <hr>

  <p>
    More than two years in the making, The Journey is a brand new mode in EA SPORTS™ FIFA 17 for the PC, Xbox One and PlayStation 4* where fans can live their story on and off the pitch as Alex Hunter, the Premier League's next rising star. To immerse more fans into the experience, The Journey will soon become playable in five additional languages with full audio localization.
  </p>
  <p>
    The free title update** will be available this holiday season for players on Xbox One, PlayStation 4 and PC*. The five new languages to be supported in the title update will include French, German, Italian, Spanish and Mexican Spanish . For players from other locales, The Journey continues to feature full subtitle support for all additional languages available in game.
  </p>

  <p>
    *FROSTBITE GAME ENGINE TECHNOLOGY AND THE JOURNEY ARE AVAILABLE ON XBOX ONE, PLAYSTATION 4 AND PC PLATFORM VERSIONS ONLY.
  </p>

  <p>
    ** Internet connection required.
  </p>
  
</div>