<div class="black column">

  <h2> TRAITS &nbsp <i class="white list layout icon"></i></h2>
  <hr> 

  <p>
    In addition, you'll have the option to select from a wider variety of Traits to give a new layer of depth to how your Player grows. Spend Skill Points, that are earned in-game, to equip specific Traits to Physical, Defending, Dribbling, Passing, Shooting, Pace, or Goalkeeping.
  </p>
  <p>
    Maybe you want to have a Giant Throw-In Trait or more Pace, it's up to you to customise your Player. Each Trait comes with a different Skill Point cost, which are earned by playing League or Cup matches, so think wisely before selecting.
  </p>
  <img src="/assets/images/proclubs/dev.png">



  <h1> Customisation &nbsp <i class="settings icon"></i></h1>
  <hr>
  <p>
    Another exciting feature introduced in FIFA 17 is the opportunity to customise Kits and Crests for your Pro Club. 
  </p>

  <img src="/assets/images/proclubs/kit.png">
  <h3> KITS &nbsp <i class="write square icon"></i></h3>

  <p>
    Choose from 24 Kit templates available in FIFA 17 and customise them to match your teams personality. You'll have the option to select Primary, Secondary, and Tertiary colours to really add a layer of flair to your unique strip. 
  </p>

  <img src="/assets/images/proclubs/badges.png">
  <h3> BADGES &nbsp <i class="database icon"></i></h3>

  <p>
    Add that all important Crest to your personal Kit to really feel like a part of the Club. Select your Crest Shape and design before choosing the Primary colour. Now you'll have a Crest to kiss in celebration of your famous victories.
  </p>

</div>