<div class="grey column">

  <h1> PRO CLUBS IMPROVEMENTS FIFA 17 </h1>           
  <hr>

  <p>
    Pro Clubs in FIFA 17 on PC, Xbox One and PlayStation 4 consoles introduces a brand new Player Growth system, based upon fan feedback to help deliver a comprehensive new way to develop your player. In addition, we've listened to your feedback and delivered customisable  Custom Kits and Crests, which brings a new level of  personalisation to your Pro Clubs Season. 
  </p>
  <img class="ui centered image" src="/assets/images/proclubs/proclubs.png"> 



    <h2> PLAYER GROWTH &nbsp <i class="add black user icon"></i></h2>
   <hr> 
  <p>
    Player Growth has completely changed in FIFA 17. The new system is based upon your overall Match Rating to really focus on teamwork and co-operation, authentically re-creating real world football where teamwork is the most important aspect. 
  </p>
  <img class="ui centered image" src="/assets/images/proclubs/vp.png">

   

    <h2> MATCH RATING &nbsp <i class="black bar chart icon"></i></h2>
  <hr>
  <p>
    After you have completed a match you'll receive a Match Rating out of 10. Depending upon which position you play, certain aspects of your Player will level up at different speeds, for example, a striker will grow Shooting more quickly than Defending.
  </p> 

  <p>
    Chart your progress and see how your Player has developed. You'll be able to track how each of the individual attributes are growing at the end of every match, based upon your match ratings. 
  </p>
  <img class="ui centered image" src="/assets/images/proclubs/progression.png">
</div>
