<section class="ui aligned grid segmentcontainer">
  <section class="ui centered black two column grid">
    <div class="row">
    <div class="black column">
      <h2> What's New? </h2>
      <hr>

      <p>
        This, of course, happens every year. The producers at EA Sports in Vancouver have to travel the world evangelising the latest Fifa title to journalists who are used to being told that this is the most exciting, innovative instalment the series has ever seen. And then we’re shown a new heading mechanic.
      </p>

      <p>
        But this year, there are two genuinely game-changing additions, and a whole host of supplemental tweaks, updates and evolutions. Of course, marketing and sponsorship remain a big part of the pre-release hype, so we know that Fifa 17 will have four ambassadors to help with its authenticity: James Rodriguez, Eden Hazard, Anthony Martial and Marco Reus. Apparently they’re not just faces on the box – they’ve been consulted about new additions to the game. We’ll see.
      </p>
    </div>
    <div class="black column">
        <h1> Exclusive! </h1>
        <hr>

      <p>
        EA has improved the positioning technology so AI teammates make better, more incisive runs. A key part of this is that players now have a nuanced understanding of space. Before, they’d just automatically think that gaps nearer the opponent’s goal are the best to run into, and that they should stay away from spaces where teammates are. In Fifa 17, they may put on the brakes to create gaps behind incoming defenders rather than automatically heading forwards; they may also get in close to teammates to pull defenders out of position.
      </p>

      <p>
        “Your teammates are going to work hard,” said McHardy. “They’ll make more runs that are better and more specific to what your side is trying to achieve. There won’t be as many defensive stalemates.” AI players will also make longer runs, even if it means slipping out of position, and they’ll use diagonal runs depending on the incoming passing angle.
      </p>
    </div>
  </section>
</section>

