<section class="ui center aligned grid segment">
   <hr>
    <section class="ui black five column row">
      
      <div class="ui black column">
        <img class="ui tiny image" src="/assets/images/xboxlogo.png" alt="XBOX">
      </div>
      
      <div class="ui black column">
        <img class="ui tiny image" src="/assets/images/fifa_.png" alt="FIFA">
      </div>
      
      <div class="ui black column">
        <img class="footer-img" src="/assets/images/everyone.png" alt="E">
      </div>
      
      <div class="ui black column">
         <h4> Rated E for everyone </h4>
         <h4> Visit <a href="http://esrb.org/">- www.esrb.org </a> </h4>
         <h4> for more information </h4>
      </div>
    </section>
    <hr>
</section>