<div class="ui inverted segment">
	<div class="ui inverted relaxed divided list">
      	<div class="item">
        	<div class="content">
        		<div class="header"><i class="yellow chevron right icon"></i>1. Frostbite</div>
        		<img class="ui centered image" src="/assets/images/tenreasons/frostbite.png">
        		<br>
        		<p>
        			EA SPORTS™  FIFA has a new game engine. Frostbite injects even more detail into the worlds of FIFA 17. Experience all new environments like tunnels, locker rooms, the manager's office, and the team plane.
        		</p>
      		</div>
	    </div>
	    <div class="item">
	      	<div class="content">
	        	<div class="header"><i class="yellow chevron right icon"></i>2. The Journey</div>
	        	<img class="ui centered image" src="/assets/images/tenreasons/thejourney.png">
	        	<br>
	        	<p>
	        		FIFA 17 has a BRAND NEW mode called The Journey. Play for any of the Premier League teams as Alex Hunter, a hot prospect, trying to achieve greatness. 
	        	</p>
	      	</div>
	    </div>
	    <div class="item">
	      	<div class="content">
	        	<div class="header"><i class="yellow chevron right icon"></i>3. The Reviews</div>
	        	<img class="ui centered image" src="/assets/images/tenreasons/reviews.png">
	        	<br>
	        	<p>
	        		“The Journey is undoubtedly the most striking addition to FIFA in quite some time.” - IGN 
	        	</p>
	      	</div>
	    </div>
	    <div class="item">
	      	<div class="content">
	        	<div class="header"><i class="yellow chevron right icon"></i>4. Gameplay</div>
	        	<img class="ui centered image" src="/assets/images/tenreasons/gameplay.png">
	        	<br>
	        	<p>
	        		Own Every Moment with the Set Piece Rewrite, Active Intelligence System, Physical Play Overhaul, and New Attacking Techniques.
	        	</p>
	      	</div>
	    </div>
	    <div class="item">
	      	<div class="content">
	        	<div class="header"><i class="yellow chevron right icon"></i>5. Career Mode</div>
	        	<img class="ui centered image" src="/assets/images/tenreasons/careermode.png">
	        	<br>
	        	<p>
	        		Love Career Mode? There are some HUGE changes in FIFA 17 including Total Club Management and a new Financial System, to go along with Managers and the J-League. So much choice!
	        	</p>
	      	</div>
	    </div>
	    <div class="item">
	      	<div class="content">
	        	<div class="header"><i class="yellow chevron right icon"></i>6. Pro Clubs</div>
	        	<img class="ui centered image" src="/assets/images/tenreasons/proclubz.png">
	        	<br>
	        	<p>
	        		The Player Growth System, Match Rating, and Traits are just the start of the NEW features in Pro Clubs. Not to mention customisation of your kits and crests, there is something for everyone in this popular mode.
	        	</p>
	      	</div>
	    </div>
	    <div class="item">
	      	<div class="content">
	        	<div class="header"><i class="yellow chevron right icon"></i>7. Squad Building Challenges</div>
	        	<img class="ui centered image" src="/assets/images/tenreasons/building.png">
	        	<br>
	        	<p>
	        		Complete challenges and earn unique in-game rewards in all-new Squad Building Challenges. Test your squad-building skills with Basic, Advanced and League-specific challenges. 
	        	</p>
	      	</div>
	    </div>
	    <div class="item">
	      	<div class="content">
	        	<div class="header"><i class="yellow chevron right icon"></i>8. FUT Champions</div>
	        	<img class="ui centered image" src="/assets/images/tenreasons/futchampionz.png">
	        	<br>
	        	<p>
	        		Qualify, Rank Up, Get Rewarded, Repeat. Those are the words to live by in this brand new FIFA Ultimate Team™ mode. Plus, sign up NOW for the FUT Champions Club, THE most rewarding way to play FUT 17.  
	        	</p>
	      	</div>
	    </div>
	    <div class="item">
	      	<div class="content">
	        	<div class="header"><i class="yellow chevron right icon"></i>9. Kick-Off</div>
	        	<img class="ui centered image" src="/assets/images/tenreasons/kickoff.png">
	        	<br>
	        	<p>
	        		Over 30 Leagues and more than 650 playable teams from around the world feature in FIFA 17. Plus, for the first time ever, the MEIJI YASUDA J1 League is available in FIFA 17. 
	        	</p>
	      	</div>
	    </div>
	    <div class="item">
	      	<div class="content">
	        	<div class="header"><i class="yellow chevron right icon"></i>10. Presentation</div>
	        	<img class="ui centered image" src="/assets/images/tenreasons/presentation.png">
	        	<br>
	        	<p>
	        		The Olympic Stadium, Riverside Stadium, and Suita City Football Stadium are NEW stadiums in FIFA 17. Plus, if that's not enough, the world's oldest football competition, The FA Cup, has its own full and authentic overlay package in FIFA 17!
	        	</p>
	     	</div>
	    </div>
	</div>
</div>