<div class="black column">
  <h1> FIFA 17 Ultimate Team </h1>

  <img class="ui centered big image" src="/assets/images/ultimate/fut.png">
  <hr>

  <p>
    EA unveiled FIFA 17 in June, showcasing the new Journey story mode, but the thing that most FIFA fans have been waiting to find out about is FIFA Ultimate Team, the popular mode in which you put together a team with great chemistry. 
  </p>

  <p>
    The wait is finally over as EA has revealed the new FIFA 17 Ultimate Team features. Here's everything you need to know about the new FUT.
  </p> 
  <br>
  <i class="large help circle icon"></i>
</div>

<div class="grey column">
  
    <h1> SQUAD CHALLENGES </h1>
  <img class="ui centered medium image" src="/assets/images/ultimate/challenges.png">
  <hr>
  <p>
    The first major update to FIFA Ultimate Team this year is squad challenges, a great new feature that will finally give you a reason to keep all those bronze and silver players you usually don’t care about.
  </p>

  <p>
    Each challenge asks you to fill a squad that meets a set of requirements. For example, one might ask for a squad of Toronto FC players with at least one Italian player and an average rating of at least 60. If you can do this, the squad you submit will leave your team to be exchanged for a rare or unique item or player.
  </p>
  <i class="large help circle icon"></i>
</div>

<div class="black column ">

    <h1> ONES TO WATCH </h1>
  <img class="ui centered medium image" src="/assets/images/ultimate/watch.png">
  <hr>

  <P>
    Previously in FIFA Ultimate Team, some players would get Team Of The Week or other special cards throughout the season depending on their real-life performance. The problem is, these would count as completely different cards.
  </P>

  <P>
    For example, if you got a standard Jamie Vardy card at the start of last season, his rating was 71. As Leicester went on their ridiculous run Vardy got a bunch of Team Of The Week and other special cards, including one with a rating of 91, but you had to find those all separately: the 71 card remained unchanged.
  </P>

  <i class=" large help circle icon"></i>
</div>