<div class="grey column">
    <h1> NEW LEGENDS </h1>
  <img class="ui centered medium image" src="/assets/images/ultimate/legends.png">
  <hr>
  
  <p>
    Once again, the Xbox versions of FIFA 17 will have special legend players that can be found in player packs (but only if you’re obscenely lucky, of course).
  </p>
  
  <p>
    New legends will be added to the gae this year to join the ones already in the game. New additions this year include Jamie Carragher, Alessandro Del Piero, Rio Ferdinand, Luis Hernandez, Marc Overmars, Carles Puyol, Paul Scholes, Ole Gunnar Solskjaer, Emmanuel Petit and Juan Sebastian Veron.
  </p>

  <p>
    Still no Eric Djemba-Djemba yet, sadly.
  </p>
  <br>
  <br>
  <i class="large help circle icon"></i>
</div>

<div class="black column">
  
    <h1> PRE-ORDERED KITS </h1>
  <img class="ui centered medium image" src="/assets/images/ultimate/kit.png">
  <hr>
  <p>
    If you’ve been following FIFA 17 news you’ll already know that pre-ordering the game will get you a bunch of special football kits for your Ultimate Team which have been designed by artists and musicians.
  </p>

  <p>
    Recently, though, EA has started showing some of them off so you can get a better look at what you’ll be getting and decide in advance whether any of them are worth replacing that Bradford City shirt you’ve been using in FIFA 16.
  </p>

  <p>
    Special kits have been designed by the likes of Damian Marley, Kasabian and Major Lazer, and some of them look genuinely cracking. The Major Lazer one in particular is eye-catching.
  </p>
  <i class="large help circle icon"></i>
</div>

<div class="grey column">
    <h1>PLAY YOUR FRIEND'S TEAM OFFLINE</h1>
  
  <img class="ui big image" src="/assets/images/ultimate/banner.png">
  <hr>
  <br>
  <p>
    Picture the scene – your mate is at your house and you decide to play some FIFA. The problem is, you both usually play Ultimate Team when you’re alone so when you meet up you’re stuck playing with the standard club and national teams that you aren’t used to.
  </p>

  <p>
    FIFA 17 finally fixes his problem with a new feature we’re amazed hasn’t been added yet. Now your friend can download their Ultimate Team on your system so you can pit your dream teams against each other.
  </p>

  <p>
    No more 'I’m rubbish with Barcelona, I’m too used to playing as Big Dave’s XI' excuses now – time to see who’s finally the best.
  </p>
  <br>
  <i class="large help circle icon"></i>
  <br>        
</div>