<h3><i class="yellow chevron right icon"></i> Addressed the following in gameplay: </h3>

<div class="ui bulleted list">
  <div class="item">A situation where cancel was unresponsive after requesting a clearance.</div>
  <div class="item">A rare situation where the penalty shootout should have ended earlier.</div>
  <div class="item">Increased the CPU AI tendency to attack directly.</div>
  <div class="item">An issue where players sometimes overrun the ball after a skill move.</div>
  <div class="item">Increased the chance of error from ground crosses (triple tap).</div>
  <div class="item">Improvements to ball physics where shots off the goal posts lose too much speed.</div>
  <div class="item">Goalkeeper positioning for corner kicks.</div>
  <div class="item">Improvements made to player switching from corners and free kicks.</div>
  <div class="item">An issue where the player would control the ball instead of attempting a clearance.</div>
  <div class="item">Improvements to contested headers logic from corner kicks.</div>
  <div class="item">General fixes for player controlled celebrations.</div>
  <div class="item">Cut scene for contentious fouls can now be skipped.</div>
  <div class="item">Improved the general responsiveness of shooting.</div>
  <div class="item">Minor improvement to passing responsiveness when the ball is in the air.</div>
</div>
<br>
<hr>

<h3><i class="yellow chevron right icon"></i> In Pro Clubs, we: </h3>

<div class="ui bulleted list">
  <div class="item">Increased experience required for the higher overall ratings in Pro Clubs. </div>
  <div class="item">Addressed an issue where a player's customised facial features did not display properly in game.</div>
</div>
<br>
<hr>

<h3><i class="yellow chevron right icon"></i> In Ultimate Team, we: </h3>

<div class="ui bulleted list">
  <div class="item">FUT Single Player difficulty no longer defaults to your CPU setting.</div>
  <div class="item">Addressed an issue where the player is forced to substitute an injured player in FUT online matches.</div>
  <div class="item">Corrected the shooting and crossing text in custom tactics</div>
</div>
<br>
<hr>

<h3><i class="yellow chevron right icon"></i> In Career Mode, we: </h3>

<div class="ui bulleted list">
  <div class="item">Addressed a situation where the CPU AI would frequently leave star players on the bench.</div>
</div>
<br>
<hr>

<h3><i class="yellow chevron right icon"></i> Visual changes include: </h3>

<div class="ui bulleted list">
  <div class="item">Added new components of the 2016/17 Premier League broadcast package.</div>
  <div class="item">Updated team kits, banners and flags for Velez Sarsfield and Tigre.</div>
  <div class="item">The goalkeeper now correctly celebrates after catching the final penalty in a shootout.</div>
  <div class="item">Addressed an issue where the selected kit isn't the one used in-game.</div>
  <div class="item">Addressed frame-rate issue during pre-match skill game.</div>
  <div class="item">Addressed an issue where the fog from a player's breath was detached from their position.</div>
  <div class="item">General overlay fixes.</div>
</div>

<p>
  *As a result of the change to Pro Clubs, some of you may find you're a lower OVR than before the update. This is intentional and you haven't lost any of your progress.
</p>
<p>
  Thanks to those who've provided constructive feedback on Twitter, Facebook, and the EA Forums. Throughout the course of the FIFA 17 season we'll provide you with more information and updates if and when they become available.
</p>
<br>
