<section class="ui stackable raised aligned grid segment container">
    <div class="ui grid"> 

	  	<div class="equal width row">
	       <div class="black column">	
				<h1> FUT BLACK FRIDAY </h1>
				<hr>
					<img src="/assets/images/blackfriday/bfriday.png">
				<br>
				<p>
					It's that time of year again! Look out for something new in FIFA Ultimate Team every hour on Black Friday, from Nov 25 at 2 pm UK to Nov 26 at 2 pm UK, and on Cyber Monday from Nov 28 at 2 pm UK to Nov 29 at 8 am UK. Don't miss out on Lightning rounds, Flash SBCs, special pack offers and more.
				</p>

				<h1> BLACK FRIDAY PACK OPENING YOUTUBE </h1>
				<hr>
				<a href="https://youtu.be/Q4h3bv7gQyI" class="ui medium image"><img src="/assets/images/blackfriday/futblackfriday.png"></a>
				<hr>
				<div class="ui inverted yellow basic button">Click above Image</div>
			</div>

			<%- partial("../includes/_articles.ejs") %>

		</div>
	</div>
</section>





 	

	

