<section class="ui stackable aligned grid segment container">
  <section class="ui centered black four column grid">
    <div class="row">

    <%- partial("../includes/_compete1.ejs") %>

    <%- partial("../includes/_compete2.ejs") %>

  </section>
</section>

