<section class="ui stackable center aligned grid container">
  <section class="ui four column grid">
    <div class="row">

    <%- partial("../includes/_features1.ejs") %>

    <%- partial("../includes/_features2.ejs") %>

  </section>
</section>

