<section class="ui stackable grid segment container">
	<div class="ui center black grid"> 

	 	<div class="ui centered black sixteen wide column">
	 		
	 		<div class="black column"
	 			h1> POSTED NOVEMBER 2ND AT 12:00PM. </h1>
				<hr>
				<h1><i class="yellow chevron right icon"></i> ALEX HUNTER HAS MADE HIS MARK </h1>

	   			<img class="ui centered image" src="/assets/images/huntersmark/huntersmark.png">
	   			<p>
	   				Just over one month ago, Alex Hunter burst onto the scene as the Premier League's next rising star in the brand new mode for EA SPORTS™ FIFA 17, The Journey*. With fans able to live Hunter's story both on and off the pitch, the young starlet has had quite an impact on English football, racking up some incredible numbers in the course of his short career.
	   			</p>
	   			<hr>
	   			<br>

	   			<img class="ui centered image" src="/assets/images/huntersmark/bar.png">
	   			<br>
	   			<p>
	   				We're also excited to be adding support for five new languages to The Journey through a free title update** this fall on Xbox One, PlayStation 4 and PC.
	   			</p>
	   			<p>
	   				More than two years in the making, The Journey is a brand-new mode in EA SPORTS™ FIFA 17 available on Xbox One, PlayStation 4 and PC, where fans can live their story on and off the pitch as Alex Hunter, the Premier League's next rising star. In The Journey, Alex’s story is dictated by the performance and decisions players make to deliver a truly unique experience. Learn more about The Journey here, and take a look behind the scenes of more than two years of work which went into bringing Alex Hunter's story to life.
	   			<p>
	   				*FROSTBITE GAME ENGINE TECHNOLOGY AND THE JOURNEY ARE AVAILABLE ON XBOX ONE, PLAYSTATION 4 AND PC PLATFORM VERSIONS ONLY.
	   			</p>
	   			<p>
	   				** Internet connection required.
	   			</p>
	   		</div>
	   		<br>
	   		<hr>   		
		</div>
	</div>
</section>