<section class="ui stackable grid segment container">
  <div class="ui center black grid">
    <div class="ui centered black sixteen wide column">

      <img class="ui centered image" src="/assets/images/insider/soundtrack.png">
        <h1> FIFA 17 SOUNDTRACK - EA SPORTS</h1>
        <hr>
        <br>
      <p>
        There’s an unwritten rule here at EA SPORTS™ that every game must have a soundtrack that moves music forward. That’s why we want the FIFA 17 Soundtrack to be a new world of music discovery. We know you do too.
      </p>
      <p>
        Over the past decade, our FIFA games have introduced artists like Fatboy Slim, Kings Of Leon, Kasabian, CHVRCHES, Robyn, The Raveonettes, The Black Keys, K’naan, Chromeo, MGMT, Lykke Li, Bloc Party, Franz Ferdinand, Shiny Toy Guns, Airborne Toxic Event, Matt and Kim, Grouplove, Elliphant and Imagine Dragons. Maybe you’ve discovered your favorite new band or genre via a FIFA Soundtrack. We have, too.
      </p> 
      <p>
        Our goal is to always deliver the ultimate global soundtrack experience. And with FIFA 17, we’ve scored like never before:
        <ul>
          <li>Debut tracks by Beck, Kasabian, Bishop Briggs, Ceci Bastida feat. Aloe Blacc, Capital Cities, Sofi Tukker,
            Souls, Systema Solar, Barns Courtney,and more.</li>
          <li>Hot songs by Two Door Cinema Club, Kygo, Bastille, Phantogram, Declan McKenna, Zhu, Glass Animals and others.
          </li>
          <li>New breakthrough artists like Bob Moses, Skott, KAMAU and LOYAL.</li>
          <li>Tracks produced exclusively for FIFA 17 by Paul Kalkbrenner and Zedd and Grey.</li>
          <li>FIFA Ultimate Team™ Kits designed by Kygo, Kasabian, Zedd, Major Lazer and Damian Marley.</li>
        </ul>
      </p>
      <p>
        There are over 50 tracks representing more than 15 countries, featuring a genre-busting collection of rock, EDM, hip-hop, folk-pop and more. We’ve spent nearly a year putting together the best-compiled, best-known, and best-selling mix of international superstars and breakthrough artists in the gaming world today. Best of all, it’s the sound of the upcoming FIFA season. FIFA 17 represents globalized music as it’s never been done before.
      </p>
      <br>
      <hr>
    </div>

    <u><h1>SELECTION OF TRACKS</u>

    <%- partial("../includes/_music.ejs") %>

  </div>
</section>


