<section class="ui stackable grid segment container">
	 <div class="ui center black grid"> 

	 	<div class="ui centered black sixteen wide column">
	 	

			<%- partial("../includes/_journey1.ejs") %>

			<%- partial("../includes/_journey2.ejs") %>


			<div class="black column">

			<br>
				<h1> Developing Fifa Journey <i class="medium spinner icon"></i> </h1>
				<hr>
				<img class="ui centered image" src="/assets/images/journey/managers.png">

			 	<p>
			 	<br>
					As you play through The Journey, Hunter will come into direct contact with some of the world's best players, playing both with and against some of football's leading figures. He'll also get the chance to play under authentic managers, who are in the game for the first time in FIFA 17 at Premier League clubs.
			 	</p>
			</div>
		</div>
	</div>
</section>