<section class="ui raised aligned grid segment container">
  <div class="ui grid"> 

    <div class="equal width row">


        <%- partial("../includes/_news.ejs") %>
        

        <div class="black column">
            
          <h1>JAPAN J1 LEAGUE TO FEATURE IN FIFA 17</h1>
          <hr>
            <img src="/assets/images/news/japan.png">
          <hr>

          <p>
            We are proud to announce that Japan's top flight football league, the MEIJI YASUDA J1 League and J.League Cup tournament will feature in FIFA 17 when the game launches this September.
          </p>

          <p>
            As one of the most popular leagues in Asia, the J1 League has a global fanbase and is one of the most requested leagues from the EA SPORTS™ FIFA community. All 18 clubs that make up the J1 League will feature authentic logos, kits, and rosters. Content from these clubs will be in our popular FIFA Ultimate Team™ (FUT) and other modes across FIFA 17.
          </p>

          <h3>The clubs of the J1 League: </h3>


          <%- partial("../includes/_j1list.ejs") %>


            <hr>
            <img src="/assets/images/news/jleague.png">
            <hr>
        </div>
    </div>
  </div>
</section>
