<section class="ui aligned grid segment container">
  <div class="ui centered grid"> 

    <div class="equal width row">

      <%- partial("../includes/_proclubs1.ejs") %>

      <%- partial("../includes/_proclubs2.ejs") %>

    </div>
  </div>
</section>

