<section class="ui stackable grid segment container">
	<div class="ui center black grid"> 

	 	<div class="ui centered black sixteen wide column">
	 		
	 		<div class="black column"
	 			h4>POSTED SEPTEMBER 30TH AT 6:00PM. </h4>
				<hr>
				<h1> 10 REASONS TO TRY FIFA 17 </h1>
				<br>
	   			<img class="ui centered image" src="/assets/images/tenreasons/fifablack.png">
	   			<hr>
	   			<br>
	   			<p>
	   				Are you ready? EA SPORTS™ FIFA 17 is HERE! These are 10 reasons to try FIFA 17 on Xbox One, PS4, and PC.
	   			</p>
	   		</div>
		   	
	   		<%- partial("../includes/_tenreasons.ejs") %>

		</div>
	</div>
</section>