<section class="ui stackable grid segment container">
  <section class="ui centered black three column grid segment container">
    <div class="row">
         
        <%- partial("../includes/_ultimateteamrow1.ejs") %>

        <%- partial("../includes/_ultimateteamrow2.ejs") %>
      
    </div>
  </section>
</section>


