<section class="ui stackable grid segment container">
	<div class="ui center black grid"> 

	 	<div class="ui centered black sixteen wide column">
	 		
	 		<div class="black column"
	 			h1>POSTED OCTOBER 18TH AT 12:00AM.  </h1>
				<hr>
				<h1> FIFA 17 TITLE UPDATE 1 </h1>

	   			<img class="ui centered image" src="/assets/images/update/fifa17.png">
	   			<hr>
	   			<br>
	   			<p>
	   				Hey FIFA Fans,
	   			</p>
	   			<p>
	   				The first title update for FIFA 17 is available this week on PC, PlayStation 4 and Xbox One. For updates on when it's live for your platform please follow @EASPORTSFIFA on Twitter.
	   			</p>
	   			<p>
	   				Within this update we have the new components for the 2016/17 Premier League broadcast package which you can see below in action:
	   			</p>
	   		</div>

	   		<br>
	   		<img class="ui centered image" src="/assets/images/update/new.gif">
	   		<br>
	   		<hr>
		   	
	   		<%- partial("../includes/_update.ejs") %>
	   		<hr>	   		
		</div>
	</div>
</section>